@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');

:root {
  --gray-50: #fafaf9;
  --gray-100: #f5f5f4;
  --gray-200: #e7e5e4;
  --gray-300: #d6d3d1;
  --gray-400: #a8a29e;
  --gray-500: #78716c;
  --gray-600: #57534e;
  --gray-700: #44403c;
  --gray-800: #292524;
  --gray-900: #1c1917;
  --blue-50: #f0f9ff;
  --blue-100: #e0f2fe;
  --blue-200: #bae6fd;
  --blue-300: #7dd3fc;
  --blue-400: #38bdf8;
  --blue-500: #0ea5e9;
  --blue-600: #0284c7;
  --blue-700: #0369a1;
  --blue-800: #075985;
  --blue-900: #0c4a6e;
  --blue-1000: #0b4161;
}

body {
  background-color: var(--blue-800);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}

h1 {
  color: var(--blue-50);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 3.5rem;
  text-transform: uppercase;
}

h2 {
  color: var(--blue-700);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 3rem;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  color: var(--blue-800);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2.5rem;
  text-transform: uppercase;
}

p {
  color: var(--blue-700);
  font-size: 0.75rem;
  line-height: 1.5rem;
}

li {
  color: var(--blue-1000);
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}

span {
  color: var(--blue-1000);
  font-size: 1rem;
  font-weight: 1000;
  line-height: 2rem;
}

label {
  color: var(--blue-900);
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-style: italic;
}

input {
  color: var(--blue-700);
  font-size: 1rem;
  line-height: 1.5rem;
}

input::placeholder {
  color: var(--gray-500);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}

select {
  color: var(--blue-700);
  font-size: 1rem;
  outline: none;
}

button {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2rem;
  text-transform: uppercase;
}

.center-app{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;  
}

.retro-form {
  background-color: var(--gray-50);
  border: 2px solid var(--gray-800);
  box-shadow: 5px 5px 0 var(--blue-1000);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 350px;
}

.retro-field {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.retro-input {
  background-color: var(--blue-50);
  border: 2px solid var(--gray-700);
  box-shadow: 2px 2px 0 var(--gray-700);
  font-size: 1rem;
  line-height: 1.625rem;
  outline: none;
  color: var(--blue-800);
}

.retro-input:focus {
  background-color: var(--blue-50);
}

.retro-select {
  background-color: var(--blue-50);
  border: 2px solid var(--gray-700);
  box-shadow: 2px 2px 0 var(--gray-700);
  font-family: 'JetBrains Mono', monospace;
  height: 32px;
  width: 100%;
}

.retro-button {
  color: var(--blue-900);
  background-color: var(--blue-50);
  border: 2px solid var(--gray-800);
  box-shadow: 2px 2px 0 var(--gray-800);
  margin: 1rem auto 0.5rem;
  padding: 0 1rem;
}

.retro-button:hover {
  background-color: var(--blue-800);
  color: var(--blue-50);
  box-shadow: 2px 2px 0 var(--gray-800);
}

.retro-button:active {
  color: var(--blue-50);
  background-color: var(--blue-800);
  border: 2px solid var(--gray-600);
  box-shadow: 0 0 0 var(--gray-600);
}
